<p>{{movie_imdb.original_title}}</p>
<p>{{movie_imdb.release_date}}</p>
<p>Companies:</p>
<p *ngFor="let company of movie_imdb.production_companies">>>> {{company.name}}</p>
<p>Countries:</p>
<p *ngFor="let country of movie_imdb.production_countries">>>> {{country.name}}</p>
<p>{{movie_imdb.tagline}}</p>
<p>{{movie_imdb.overview}}</p>
<p>{{movie_imdb.runtime}}</p>
<p>{{movie_imdb.vote_average}}</p>
<p>{{movie_imdb.vote_count}}</p><br><br>
---
<p>Is watched: {{movie_db.to_watch}}</p>
<p>When: {{movie_db.when_watched}}</p>
<p>Where: {{movie_db.where_watched}}</p>
<p>Note: {{movie_db.note}}</p>
<p>Rating: {{movie_db.rating}}</p>
---
<app-info-form [input_data]="movie_db"></app-info-form>
